body{
    background-color: #dff2fd;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-left: 0px;
    

    

}
ul{
    list-style-type: none;
}
.side-bar{
margin-top: 100px; 
background-color: white;
border-radius: 8px;
margin-right: 25px;
font-family: 'Poppins';
padding: 6px 30px 6px 0px;



}
.svg{
    margin-right: 15px;
    padding-top: 2px;
}
li{
    margin-bottom: 15px;
    padding: 4px;
}
.content{
    font-weight: 500;
}
.content-main{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 15px;
}
.hover :hover{
    background-color: #1572f3;
    border-radius: 4px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition: 1s ease-in;
}
